/* CAUTION: KEEP the selector ORDER; */
/* all border radius */
* {
	border-radius: 3px !important;
}

/* top right avatar */
summary>img.avatar-user {
	border-radius: 50% !important;
}

/* home page avatar, avatar in timeline */
img.avatar-user, a.avatar-user {
	border-radius: 3px !important;
}

/* home page status */
div.user-status-circle-badge-container {
	margin-bottom: -55px;
}

/* navbar message indicator, home page language indicator, home page discussion icon, home page discussion icon, timeline gadge */
span.mail-status, span.repo-language-color, span.discussion-item-icon, span.discussion-item-icon, div.TimelineItem-badge {
	border-radius: 50% !important;
}

/* button with count */
.BtnGroup-item, .BtnGroup-parent, .BtnGroup {
	border-radius: 0 !important;
}

.BtnGroup-item:first-child, .BtnGroup-parent:first-child, .BtnGroup:first-child {
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
}

.BtnGroup-item:last-child, .BtnGroup-parent:last-child, .BtnGroup:last-child {
	border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}

.BtnGroup-item:first-child .BtnGroup-parent:first-child {
	border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.BtnGroup-parent:last-child .BtnGroup-item {
	border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}

.BtnGroup-parent .BtnGroup-item {
	border-radius: 0 !important;
}

.BtnGroup-item:last-child .BtnGroup-item:first-child {
	border-radius: 3px !important;
}

/* navbar social count*/
a.social-count {
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

/* navbar */
ul.UnderlineNav-body {
    margin-left: auto;
    margin-right: auto;
}
