/* CAUTION: KEEP the selector ORDER; */
/* all border radius */
/** {
	border-radius: 3px !important;
}
*/

/* top right avatar */
summary>img.avatar-user {
	border-radius: 50% !important;
}

/* home page avatar, avatar in timeline */
img.avatar-user, a.avatar-user {
	border-radius: 3px !important;
}

/* home page status */
div.user-status-circle-badge-container {
	margin-bottom: -55px;
}

/* navbar message indicator, home page language indicator, home page discussion icon, home page discussion icon, timeline gadge */
/*span.mail-status,
span.repo-language-color,
span.discussion-item-icon,
span.discussion-item-icon,
div.TimelineItem-badge, span.TimelineItem-badge {
	border-radius: 50% !important;
}*/

/* button group */
/*.BtnGroup {
	border-radius: 3px !important;
}

.BtnGroup-parent, .BtnGroup-item {
	border-radius: 0 !important;
}

.BtnGroup-parent:first-child, .BtnGroup-item:first-child {
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
}

.BtnGroup-parent:last-child, .BtnGroup-item:last-child {
	border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}

.BtnGroup-parent .BtnGroup-item {
    border-radius: 0 !important;
}

.BtnGroup-parent:first-child .BtnGroup-item {
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
}

.BtnGroup-parent:last-child .BtnGroup-item {
	border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}*/

/* search PR */
/*.subnav-item {
	border-radius: 0 !important;
}

.subnav-item:first-child {
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
}

.subnav-item:last-child {
	border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}

#filters-select-menu>summary {
	border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

#js-issues-search {
	border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}*/

/* navbar social count*/
/*a.social-count {
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}*/

/* watch, star, and fork */
/*summary.btn-with-count, button.btn-with-count {
	border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}*/

/*header,
.pagehead,
.UnderlineNav,
.flash-full,
li.notifications-list-item,
.js-selected-navigation-item,
.Box-row,
.js-navigation-container,
div[aria-label=Issues],
.Box-row--drag-hide,
.Box-row--drag-hide>div,
.table-list,
.table-list-item,
.table-list-cell,
.js-file-content,
.js-file-content>div,
table.diff-table,
table.diff-table>tbody,
tr.js-expandable-line,
tr.js-expandable-line>td,
tr.js-expandable-line>td>a {
	border-radius: 0 !important;
}

.table-list-item:first-child .table-list-cell {
	border-top-left-radius: 3px !important;
	border-top-right-radius: 3px !important;
}

.table-list-item:last-child .table-list-cell {
	border-bottom-left-radius: 3px !important;
	border-bottom-right-radius: 3px !important;
}

.Box-header, .menu-heading {
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}*/

/* navbar */
main>div.pagehead {
	box-shadow: inset 0 -1px 0 #e1e4e8;
}

main>div.pagehead>nav {
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
}

.label,
.Label,
.Box,
.js-profile-editable-edit-button,
.file-navigation>a.btn,
span.btn,
.file-navigation>details>summary.btn,
get-repo>details>summary.btn,
#type-options>summary.btn,
#language-options>summary.btn,
.js-form-toggle-container>form>.btn-sm,
.user-status-circle-badge,
.ajax-pagination-form,
.ajax-pagination-btn,
.graph-before-activity-overview,
.delete-topic-button,
.topic-tag,
.topic-tag-action,
.dropdown-menu,
input#your-repos-filter,
input.SelectMenu-input,
div.SelectMenu-modal,
span.Counter {
	border-radius: 3px !important;
}

.input-group:last-child>.input-group-button>.btn,
.social-count {
	border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}

#filters-select-menu>summary.btn,
.btn-with-count {
	border-top-left-radius: 3px !important;
	border-top-right-radius: 0;
	border-bottom-left-radius: 3px !important;
    border-bottom-right-radius: 0;
}

input#js-issues-search {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 3px !important;
	border-bottom-right-radius: 3px !important;
}

summary.btn {
	border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.SelectMenu-tab {
	border-top-left-radius: 3px !important;
	border-top-right-radius: 3px !important;
}

/* button group */
.BtnGroup {
	border-radius: 3px !important;
}

.BtnGroup-parent, .BtnGroup-item {
	border-radius: 0 !important;
}

.BtnGroup-parent:first-child, .BtnGroup-item:first-child {
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
}

.BtnGroup-parent:last-child, .BtnGroup-item:last-child {
	border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}

.BtnGroup-parent .BtnGroup-item {
    border-radius: 0 !important;
}

.BtnGroup-parent:first-child .BtnGroup-item {
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
}

.BtnGroup-parent:last-child .BtnGroup-item {
	border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}

.subnav-item {
	border-radius: 0 !important;
}

.subnav-item:first-child {
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
}

.subnav-item:last-child {
	border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}
