/* CAUTION: KEEP the selector ORDER; */
/* all border radius */
* {
	border-radius: 3px !important;
}

/* top right avatar */
summary>img.avatar-user {
	border-radius: 50% !important;
}

/* home page avatar, avatar in timeline */
img.avatar-user, a.avatar-user {
	border-radius: 3px !important;
}

/* home page status */
div.user-status-circle-badge-container {
	margin-bottom: -55px;
}

/* navbar message indicator, home page language indicator, home page discussion icon, home page discussion icon, timeline gadge */
span.mail-status,
span.repo-language-color,
span.discussion-item-icon,
span.discussion-item-icon,
div.TimelineItem-badge, span.TimelineItem-badge {
	border-radius: 50% !important;
}

/* button group */
.BtnGroup {
	border-radius: 3px !important;
}

.BtnGroup-parent, .BtnGroup-item {
	border-radius: 0 !important;
}

.BtnGroup-parent:first-child, .BtnGroup-item:first-child {
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
}

.BtnGroup-parent:last-child, .BtnGroup-item:last-child {
	border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}

.BtnGroup-parent .BtnGroup-item {
    border-radius: 0 !important;
}

.BtnGroup-parent:first-child .BtnGroup-item {
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
}

.BtnGroup-parent:last-child .BtnGroup-item {
	border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}

/* search PR */
.subnav-item, .UnderlineNav-item {
	border-radius: 0 !important;
}

.subnav-item:first-child {
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
}

.subnav-item:last-child {
	border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}

#filters-select-menu>summary {
	border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

#js-issues-search {
	border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

/* navbar social count*/
a.social-count {
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

/* watch, star, and fork */
summary.btn-with-count, button.btn-with-count {
	border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

header,
.gh-header-shadow,
.footer,
.footer>div,
.pagehead,
.UnderlineNav,
.flash-full,
li.notifications-list-item,
.js-selected-navigation-item,
.Box-row,
.js-navigation-container,
div[aria-label=Issues],
.Box-row--drag-hide,
.Box-row--drag-hide>div,
.table-list,
.table-list-item,
.table-list-cell,
.js-file-content,
.js-file-content>div,
table.diff-table,
table.diff-table>tbody,
tr.js-expandable-line,
tr.js-expandable-line>td,
tr.js-expandable-line>td>a,
.discussion-timeline-actions,
.discussion-sidebar-item,
.application-main,
#js-pjax-container,
#js-pjax-container>div:first-child,
div.org-repos>ul>li,
.border-bottom,
div.repo-actions-hero + div > div > div > div > div.border-top, /* action page */
.Subhead,
.TimelineItem-break,
article.markdown-body h1, /* MD */
article.markdown-body h2,
article.markdown-body img,
li.table-list-item.member-list-item>div:first-child, /* member list */
li.table-list-item.member-list-item>div:last-child {
	border-radius: 0 !important;
}

.Box.rounded-2,
nav.SideNav.border.rounded-1 {
	border-radius: 3px !important;
}

.merge-message,
.table-list-item:last-child,
.member-listing-next,
div#org-repositories>div>div>div.Box-footer {
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
	border-bottom-left-radius: 3px !important;
	border-bottom-right-radius: 3px !important;
}

.Box-header, .menu-heading,
.comment-form-head, .timeline-comment-header,
#org-members-table>div,
div#org-repositories>div>div>div.Box-body {
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

.table-list-item:first-child .table-list-cell {
	border-top-left-radius: 3px !important;
	border-top-right-radius: 3px !important;
}

.table-list-item:last-child .table-list-cell {
	border-bottom-left-radius: 3px !important;
	border-bottom-right-radius: 3px !important;
}

div.rounded-1 {
	border-radius: 3px !important;
}

div.merge-status-list {
	border: none;
}

.tabnav-tab {
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

/* navbar */
main>div:first-child {
	box-shadow: inset 0 -1px 0 #e1e4e8;
}

main>div>nav {
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
}

/* comment input */
div.write-content>text-expander, div.write-content>text-expander>textarea {
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

div.write-content>label {
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
}
